<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <p align=center>ERROR</p>
        <div class="container"><%= error %></div>
    </body>
</html>
